<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>productForm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">productForm</ion-title>
    </ion-toolbar>
  </ion-header>

  <form #fc="ngForm">
    <ion-list>
      <ion-item class="pt-10">
        <ion-input label="Nome" label-placement="floating" placeholder="Digite seu nome" [(ngModel)]="product.nome"
          name="nome" required></ion-input>
      </ion-item>

      <ion-item class="pt-10">
        <ion-input type="text" label="Categoria" label-placement="floating" placeholder="Digite sua categoria"
          [(ngModel)]="product.categoria" name="categoria" required></ion-input>
      </ion-item>

      <ion-item class="pt-10">
        <ion-input type="text" label="Descrição" label-placement="floating" placeholder="Digite sua descricao"
          [(ngModel)]="product.descricao" name="descricao" required></ion-input>
      </ion-item>

      <ion-item class="pt-10">
        <ion-input type="number" label="Quantidade" label-placement="floating" placeholder="Digite sua Quantidade"
          [(ngModel)]=" product.quant" name="quant" min=0 required></ion-input>
      </ion-item>

      <ion-item class="pt-10">
        <ion-input type="number" label="Valor" label-placement="floating" placeholder="Digite o valor"
          [(ngModel)]="product.valor" name="valor" min=0 required></ion-input>
      </ion-item>

      <ion-item class="pt-10">
        <ion-input type="file" label="Fotos" label-placement="floating" placeholder="Nome da foto"
          [(ngModel)]="product.fotos" name="fotos"></ion-input>
      </ion-item>

      <div class="pt-10 ion-text-end">
        <ion-button [disabled]="fc.invalid" (click)="save()">Salvar</ion-button>
        <ion-button color="danger" routerLink="/">Cancelar</ion-button>
      </div>

    </ion-list>
  </form>
</ion-content>